.home-main-div {
  /* width: 100%; */
  margin: 0;
  background-color: #111111;
  /* height: 100%; */
  color: white;
}

.home-content-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hero-div {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: green solid 1px; */
  margin-top: 50px;
  gap: 50px;
}

.hero-title-div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid pink 1px; */
}

.hero-content-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 70%;
  width: 50%;
  /* border: blue solid 1px; */
}

.hero-img {
  max-height: 100%;
}

.hero-description {
  text-align: justify;
  width: 50%;
}

.caroussel-div {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.categories-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.category-div {
  position: relative;
  height: 800px;
  width: 40%;
  overflow: hidden;
  margin: 50px 30px;
}

.videos-category-div img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.photos-category-div img {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 100%;
}

.category-div:hover {
  cursor: pointer;
}

.category-div:hover .category-illustration-filter {
  visibility: visible;
}

.category-illustration-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partenaires-div {
  /* height: 200px; */
  width: 100%;
  /* outline: 2px solid blue; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.partenaires-logos-div {
  display: flex;
  flex-wrap: nowrap;
  /* flex-wrap: wrap; */
  align-items: center;
  gap: 10px;
}

.partenaires-logo {
  height: 80px;
  width: auto;
  min-width: 0;
  flex-shrink: 1;
  object-fit: contain;
}

.contact-div {
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.089);
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.contact-title {
  margin: 0;
  padding: 10px;
  font-size: 20px;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content-left {
  margin: 0;
  padding: 10px;
  font-size: 15px;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact-content-right {
  margin: 0;
  padding: 10px;
  font-size: 15px;
}

.contact-content-right adress {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 15px;
}

.contact-content-right a {
  text-decoration: none;
  color: white;
}

.contact-content-right adress :hover {
  text-decoration: underline;
}

.contact-insta {
  /* padding: 15px; */
}

.instagram-img {
  width: 25px;
}

@media (max-width: 768px) {
  .hero-div {
    height: 100%;
    width: 100%;
  }

  .hero-content-div {
    flex-wrap: wrap;
    width: 80%;
  }

  .hero-img {
    max-height: 50vh;
  }

  .hero-description {
    width: 100%;
  }

  .caroussel-div {
    /* height: 200px; */
    display: none;
  }

  .category-div {
    width: auto;
    height: 25%;
  }

  .category-illustration-filter {
    visibility: visible;
    background-color: none;
  }

  .partenaires-logos-div {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .partenaires-logo {
    width: 100px;
  }
}
