.photo-project-main-div {
  background-color: rgb(32, 32, 32);
  margin: 0;
  padding: 100px 30px;
  color: white;
}

.photo-project-content-div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 300px;
  gap: 8px;
}

.photo-project-img-div {
  border: white 1px solid;
}

.photo-project-img-div:hover {
  cursor: pointer;
}

.photo-project-img-div.landscape {
  grid-column: span 2;
}

.photo-project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
