.videos-main-div {
  background-color: #111111;
  margin: 0;
  padding-top: 100px;
  color: white;
}

.videos-content-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
