.form-main {
  /* border: blue solid 1px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.form-input {
  background-color: #080808;
  border: solid white 1px;
  padding: 15px;
  color: white;
  width: 100%;
  border-radius: 5px;
}

.message {
  height: 200px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.form-submit-btn {
  width: auto;
  background: none;
  text-decoration: none;
  padding: 10px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 2px;
  color: white;
}

.form-submit-btn:hover {
  cursor: pointer;
}
