.menu-div {
  position: fixed;
  width: 200px;
  height: 250px;
  top: 75px;
  left: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 12;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.menu-open {
  opacity: 1;
  visibility: visible;
}

.menu-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 35px;
  padding-left: 25px;
}

.menu-btn {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}

.menu-btn:hover {
  color: #ca6a32;
}
