.menu-div {
  position: fixed;
  width: 200px;
  height: 250px;
  top: 75px;
  left: 15px;
  /* background-color: rgba(255, 255, 255, 0.2); */
  z-index: 12;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.menu-open {
  opacity: 1;
  visibility: visible;
}

.menu-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 35px;
  padding-left: 25px;
}

.menu-btn {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}

.menu-btn:hover {
  color: #868686;
}

@media (max-width: 768px) {
  .menu-div {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    top: 0px;
    left: 0px;
  }

  .menu-content {
    align-items: center;
    gap: 15px;
    padding: 0px;
  }

  .menu-btn {
    color: black;
  }
}
